            <div class="signup-card position-relative">
                <div class="glow glow-1"></div>
                <div class="mb-5 glow glow-2"></div>
                
                <div class="logo">
                <span>TechShort</span>
                </div>
                
                <h1 class="form-title">Create your account</h1>
                
                <div class="text-center welcome-message">
                <p>Tell us what you're passionate about so we can personalize your feed</p>
                </div>
                
                <div class="category-filter d-block p-1 m-2">
                <button class="filter-btn" [class.active]="activeFilter === 'all'" (click)="filterInterests('all')">All</button>
                <button class="filter-btn" [class.active]="activeFilter === 'dev'" (click)="filterInterests('dev')">Development</button>
                <button class="filter-btn" [class.active]="activeFilter === 'data'" (click)="filterInterests('data')">Data</button>
                <button class="filter-btn" [class.active]="activeFilter === 'design'" (click)="filterInterests('design')">Design</button>
                <button class="filter-btn" [class.active]="activeFilter === 'emerging'" (click)="filterInterests('emerging')">Emerging Tech</button>
                </div>
                
                <div class="interests-container ">
                <div *ngFor="let interest of filteredInterests" 
                    class="interest-tag" 
                    [class.selected]="selectedInterests.includes(interest.name)"
                    (click)="toggleInterest(interest.name)">
                    <div class="interest-icon" *ngIf="interest.icon">
                    <i [class]="interest.icon"></i>
                    </div>
                    {{ interest.name }}
                    <div class="selection-indicator" *ngIf="selectedInterests.includes(interest.name)">
                    <i class="fas fa-check"></i>
                    </div>
                </div>
                </div>
                
                <div class="interest-progress text-white mt-2">
                <div class="progress-text">
                    <span>{{ selectedInterests.length }} selected</span>
                    <span *ngIf="selectedInterests.length < 3">Select at least {{ 3 - selectedInterests.length }} more</span>
                    <span *ngIf="selectedInterests.length >= 3">Great choices!</span>
                </div>

                <div class="progress-bar">
                    <div class="progress-fill" [style.width]="(selectedInterests.length / 5) * 100 + '%'"></div>
                </div>
                </div>
                
                <button class="signup-btn" 
                    (click)="createAccount()" 
                    [disabled]="selectedInterests.length < 1">
                    {{ selectedInterests.length < 1 ? 'Select more interests' : 'Create Account' }}
                </button>
            </div>