<div class="video-container">
  <app-short-filter></app-short-filter>

  <div class="phone-container">
    <div class="video-container"></div>
  </div>
  <div id="videoContainer" class="video-wrapper">
    <div
      *ngFor="let video of videos;  let i = index"
      #videoItem
      class="shorts-container"
      [attr.data-video-id]="video.id"
    >
      <div class="iframe-wrapper">
        <iframe
          [src]="video.safeUrl"
          [style.height]="iframeHeight"
          width="100%"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="iframe-overlay bg-dark" [ngStyle]="{ top: overlayClass}">
          <div class="px-2">
            <div class="player-name">{{getTitleWithoutHashtags(video?.title)}}</div>
            <div class="tags-container">
              <span *ngFor="let tag of getHashtags(video?.title)" class="tag-chip rounded" [ngClass]="'category'">{{ tag }}</span>
            </div>
          </div>
          <div class="profile-icon py-1 " *ngIf="video?.thumbnail">
            <img [src]="video?.thumbnail" alt="Player profile" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
