  @import 'bootstrap/dist/css/bootstrap.min.css';


  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    color: #fafafa;
  }

  p {
    font-family: 'Georgia', serif;
    color: #fafafa;
    ;
  }

  a {
    color: #1e90ff;
    text-decoration: none;
  }

  a:hover {
    color: #1c7ed6;
    text-decoration: underline;
  }

  button {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    background-color: #1e90ff;
    border: none;
  }

  button:hover {
    background-color: #1c7ed6;
  }
  html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  